body {
  margin: 0px;
  padding: 0px;
}

img {
  width: 100%;
  height: auto;
}

/*.imagewrapper {
  width: 100%;  Or whatever width you want 
}*/
/*.imagewrapper img {
  max-width: 100%;
  height: auto;
  width: auto; /* For IE8 
}*/